body {
  background: #F5DEB3;
}

.jumbotron {
  border: 1px solid;
  border-color: transparent;
  width: 400px;
  height: 380px;
  padding: 20px 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  box-shadow: 3px 3px 2px #888888;
}

.form-group {
  margin: 10px auto;
}


.glyphicon.glyphicon-ok {
  display: none;
}

.glyphicon.glyphicon-remove {
  display: none;
}

.glyphicon.glyphicon-ok .show{
  display: block;
}

.glyphicon.glyphicon-remove .show{
  display: block;
}



/*.FormValidation > h1 {
  display: block;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  margin: 0;
}

.FormValidation p {
  font-size: 10px;
  width: 280px;
  margin: auto;
  color: red;
  margin-top: 4px;
}*/

/*.FormValidation > input {
  display: block;
  margin: 15px auto;
  padding: 0 10px;
  margin-bottom: 0;
  width: 280px;
  height: 35px;
  border: none;
  outline: none;
  background: #DCDCDC;
}*/

/*.FormValidation > button {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 35px;
  text-align: center;
  background: #8FBC8F;
  border: none;
  color: #fff;
}*/
